@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-input {
  border-radius: 0px !important;
  padding: 6px 6px;
  /* Optional */
}

.ant-select {
  border-radius: 0px !important;
}

.ant-select-selector {
  border-radius: 0px !important;
}

.ant-select,
.ant-picker {
  border-radius: 0px !important;
}

.ant-select-selector,
.ant-picker-input {
  border-radius: 0px !important;
}

.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item
  .ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-table-thead > tr > th {
  background-color: #fffefe !important;
  padding: 10px 16px !important;
  text-transform: uppercase;
  font-size: 12px !important;
}

.ant-table-tbody > tr > td {
  background-color: #fff !important;
  padding: 10px 16px !important;
}

.ant-table-cell::before {
  display: none;
}

/* Customize the table rows */
.ant-table-tbody > tr > td {
  padding: 8px;
}

.ant-select.ant-select-in-form-item {
  width: 100%;
  height: 35px;
}

.bn-container[data-theming-css-demo] .bn-editor * {
  color: blue;
}

.ant-menu-light .ant-menu-item {
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  color: white;
}

.bg-red {
  background-color: red !important;
}

.bg-blue {
  background-color: rgb(61, 188, 247) !important;
}

.bg-green {
  background-color: rgb(243, 92, 195) !important;
}

.bg-orang {
  background-color: rgb(224, 67, 32) !important;
}

.bg-purple {
  background-color: #854ad8 !important;
}

.ant-menu-light .ant-menu-item-selected,
.ant-menu-light > .ant-menu .ant-menu-item-selected {
  border-left: 4px solid #fff;
}

.rounded-8 {
  border-radius: 8px !important;
}

.ProseMirror {
  height: 100%;
}

.ant-list .ant-list-item {
  padding: 6px 0;
}

.ant-input-affix-wrapper {
  border-radius: 0px;
}

.ant-menu-dark .ant-menu-item {
  color: black;
  font-weight: 700;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected {
  color: green;
  background-color: rgb(74 222 128);
}

.ant-menu-dark
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  color: green;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected:hover {
  background-color: transparent;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark > .ant-menu .ant-menu-item,
.ant-menu-dark .ant-menu-submenu-title,
.ant-menu-dark > .ant-menu .ant-menu-submenu-title {
  color: black;
  font-weight: 700;
}

.ant-layout-header,
.ant-menu-dark {
  background: rgb(74 222 128) !important;
}

.ant-menu-submenu-popup {
  background-color: #e0ece4 !important;
  /* Change to your desired color */
}

.ant-menu-sub {
  background-color: rgb(74 222 128) !important;
}

.ant-menu-submenu-title:hover {
  color: green !important;
  /* Change to your desired color */
}

.ant-menu-item {
  background-color: rgb(74 222 128) !important;
}

.ant-menu-submenu-title:hover,
.ant-menu-item:hover {
  color: green !important;
}

.form-control-date-picker {
  border: 1px solid #d9d9d9;
  padding: 5px;
  width: 100%;
}

.datePickerWrapper {
  position: relative;
  width: 100%;
}

.calendarIcon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.nepali-date-picker .calender {
  width: 100%;
  border-radius: 0px !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected,
.ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: green !important;
  background-color: #e0ece4;
}

.ant-menu-dark .ant-menu-submenu-selected > .ant-menu-submenu-title,
.ant-menu-dark
  > .ant-menu
  .ant-menu-submenu-selected
  > .ant-menu-submenu-title {
  color: black !important;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item-selected:hover,
.ant-menu-dark > .ant-menu.ant-menu-horizontal > .ant-menu-item-selected:hover,
.ant-menu-dark.ant-menu-horizontal > .ant-menu-submenu-selected:hover,
.ant-menu-dark
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-selected:hover {
  background-color: #e0ece4;
  color: green !important;
}

.ant-table-measure-row {
  display: none;
}

@media print {
  .page-two {
    page-break-inside: avoid;
    page-break-before: always;
  }
}

.ant-layout-sider-children {
  background-color: #e0ece4 !important;
}

.ant-layout-header {
  background-color: rgb(74 222 128) !important;
}

.expired-row .ant-table-cell {
  background-color: red !important;
  color: white !important;
}

.expired-row .ant-table-cell {
  color: white !important;
}

.ant-table-thead > tr > th {
  background-color: #f5f5f5;
}

.less-amount .ant-table-cell {
  background-color: yellow !important;
}
