@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.ant-input {
  border-radius: 0px !important;
  padding: 6px 6px;
  /* Optional */
}

.ant-select {
  border-radius: 0px !important;
}

.ant-select-selector {
  border-radius: 0px !important;
}

.ant-select,
.ant-picker {
  border-radius: 0px !important;
}

.ant-select-selector,
.ant-picker-input {
  border-radius: 0px !important;

}


.ant-form-item-required::before {
  display: none !important;
}

.ant-form-item .ant-form-item-label>label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.ant-table-thead>tr>th {
  background-color: #fffefe !important;
  padding: 10px 16px !important;
  text-transform: uppercase;
  font-size: 12px !important;

}

.ant-table-tbody>tr>td {
  background-color: #fff !important;
  padding: 10px 16px !important;
}

.ant-table-cell::before {
  display: none;
}


/* Customize the table rows */
.ant-table-tbody>tr>td {
  padding: 8px;

}

.ant-select.ant-select-in-form-item {
  width: 100%;
  height: 35px;
}

.bn-container[data-theming-css-demo] .bn-editor * {
  color: blue;
}

.ant-menu-light .ant-menu-item{
  width: 100%;
  margin:0px;
  border-radius: 0px;
  color: white;
}



.bg-red{
  background-color: red !important;
}
.bg-blue{
  background-color: rgb(61, 188, 247) !important;
}
.bg-green{
    background-color: rgb(243, 92, 195) !important;
}

.bg-orang{
    background-color: rgb(224, 67, 32) !important;
}

.bg-purple{
    background-color: #854ad8 !important;


}

.ant-menu-light .ant-menu-item-selected, .ant-menu-light>.ant-menu .ant-menu-item-selected {
  border-left: 4px solid #fff;
}

